.bg-color{
    background-color: #7E57C2;
}

.bg-color2{
    color:#FFFFFF;
    background-color: #673AB7;
}

.textarea-large {
  height: 150px;
}

textarea-small {
  height: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container-card {
    padding: 2px 16px;
}


@keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:-1366px; top:0px; display: none}
}

.page {
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.login{
    width: 400px;
}

.register{
    width: 700px;
}

.floating-card {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
